.about-us {
    padding-top: 100px;
    h2 {
        display: inline-block;
        border-bottom: 2px solid $mainColor;
        padding: 0 10px;
    }
    p {
        font-size: 20px;
        margin-bottom: 40px;
        margin-top: 25px;
        @media (max-width: 576px) {
            font-size: 15px;
        }
    }
}
